
@media only screen and (max-width: 768px) {
        div {
            display: flex;
            flex-direction: column;
          }
  }
.login {
    height:50px;
    width:200px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
    border-radius: 5px;
    text-align: center;
}

input[type='submit'] {
    border-radius: 2px;
    padding:5px;
    margin:5px;
    width: 80px;
}     
input,select {
    border-radius: 2px;
    padding:5px;
    margin:5px;
    width: 160px;
    align-items: center;
}
.imageStyle{
     width: 200px;
     height: 200px;
     margin:auto;
     padding: 20px;
     border-radius: 10px;
}
.imageStyleOnClick{
    width: 300px;
    height: 300px;
    margin:auto;
    padding: 20px;
    border-radius: 5px;
}